[project]
	description = Nexa/HomeEasy control library with absolute dim support.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Calle Gunnarsson (calle-gunnarsson)
[access "refs/for/refs/*"]
	read = group user/Calle Gunnarsson (calle-gunnarsson)
	push = group user/Calle Gunnarsson (calle-gunnarsson)
	label-Code-Review = -2..+2 group user/Calle Gunnarsson (calle-gunnarsson)
	label-Verified = -1..+1 group user/Calle Gunnarsson (calle-gunnarsson)
	rebase = group user/Calle Gunnarsson (calle-gunnarsson)
	removeReviewer = group user/Calle Gunnarsson (calle-gunnarsson)
	submit = group user/Calle Gunnarsson (calle-gunnarsson)
[access "refs/heads/*"]
	read = group user/Calle Gunnarsson (calle-gunnarsson)
	create = group user/Calle Gunnarsson (calle-gunnarsson)
	push = +force group user/Calle Gunnarsson (calle-gunnarsson)
	pushMerge = group user/Calle Gunnarsson (calle-gunnarsson)
[access "refs/tags/*"]
	push = +force group user/Calle Gunnarsson (calle-gunnarsson)
	pushTag = group user/Calle Gunnarsson (calle-gunnarsson)
	pushSignedTag = group user/Calle Gunnarsson (calle-gunnarsson)
